@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pangolin&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}
header {
  /* border: 2px solid; */
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}
nav {
  /* border: 2px solid blue; */
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
}
nav h1 {
  background-color: #304464;
  border-radius: 100%;
  width: 100px;
  color: #fff;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  position: relative;
  border: 2px solid;
  width: 300px;
  display: flex;
}

form i {
  opacity: 0.6;
  top: 8px;
  position: absolute;
  font-size: 25px;
}
input[type="search"] {
  width: 100%;
  padding: 0.4rem 1rem;
  outline: none;
}
.nav_items {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  max-width: 1000px;
  margin: auto;
  padding-left: 0.6rem;
  padding: 0.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calender {
  display: flex;
  /* border: 2px solid; */
  flex-direction: column;
}
span::last-child {
  opacity: 0.6;
  font-size: 14px;
}
.nav_items a {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}
.nav_items a:hover {
  color: brown;
  border-left: 5px solid brown;
  padding-left: 5px;
}
.btn {
  height: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}

.btn i {
  font-size: 20px;
  color: #fff;
  /*  */
}
main {
  /* border: 2px solid blue; */
  padding-top: 10rem;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 30px;
}

.image_side {
  width: 100%;
  /* border: 2px solid black; */
  border-radius: 10px;
  height: 70vh;
  position: sticky;
  top: 20%;
}
.image_side img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.post_card {
  /* border: 2px solid blue; */
  padding: 1rem;
  display: flex;
  /* background-color: rgb(163, 153, 153); */
}

#image__wrapper {
  /* border: 2px solid; */
  width: 400px;
  height: 30vh;
  border-radius: 10px;
}
#image__wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.post_content {
  padding: 1rem;
}
.top span:first-child {
  /* border: 2px solid grey; */
  padding: 5px;
}
.post_body {
  margin: 0.8rem 0;
  color: rgb(137, 172, 238);
  /* background-color: rgb(148, 36, 59); */
}
.post_body h2 {
  font-size: 20px;
}
.post_body p {
  font-size: 14px;
  opacity: 0.6;
}
.bottom_side {
  padding: 0.3rem;
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  background-color: #304464;
  margin-top: 4rem;
}
h3 {
  /* border-right: 2px solid grey; */
  color: rgb(202, 208, 214);
}
.bottom_side p {
  color: #fff;
  z-index: 10px;
  margin-top: 16px;
}
.footer_side {
  border-right: 2px solid rgba(213, 208, 208, 0.279);
  padding-right: 10px;
  background-color: #304464;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  color: #f7f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .footer_side {
  border-right: 2px solid grey;
  margin-right: 10px;
} */
.box {
  border-right: 2px solid grey;
  padding-right: 10px;
  margin-right: 10px;
}
.span2 {
  border-bottom: 2px solid grey;
  margin-top: 5px;
  padding-bottom: 10px;
  /* width: 10px; */
}
.text {
  max-width: 1000px;
}
.footer_side2 {
  border-right: 2px solid black;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.empty {
  /* border: 2px solid red; */
  margin-left: 10rem;
  margin-bottom: 0.1rem;
  height: 1px;
  width: 50%;
  background-color: rgba(238, 230, 230, 0.388);
}
/* .footer_side box {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.post_body h2:hover {
  color: brown;
  border-left: 5px solid brown;
  padding-left: 5px;
}
.post_body a {
  text-decoration: none;
}
